/* Global styles */
* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
    transition-duration: .25s
}

html { scroll-behavior: smooth }

body {
    max-width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden
}


body > div.invalid-device-alert-box { display: none }


header,
footer { padding: 20px 27px }


p { font-size: 18px; margin: 8px 0 }


@media screen and (max-width: 1100px) {
    body > * { display: none !important }

    body > div.invalid-device-alert-box {
        padding: 12px;
        width: 100vw;
        height: 100vh;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center
    }
}