/* Page's presentation section class styles */
section#presentation-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    margin-bottom: 40px
}


section#presentation-sect > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px
}


section#presentation-sect img { max-height: 65vh }


section#presentation-sect h2 { font-size: 55px }


section#presentation-sect a.register-btn {
    border-radius: 25px;
    padding: 16px 50px;
    text-decoration: none;
    font-size: 20px
}

section#presentation-sect a.register-btn:hover { box-shadow: 0 0 12px #d00b; background-color: #e00 }

section#presentation-sect a.register-btn::after { content: ' | >'; margin-left: 12px }